body
{
    font-family: Tahoma, sans-serif;
    background: #efefef;
}

h2
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 56px;
    margin: 0px;
}

p
{
    font-family: 'Roboto', sans-serif;
    font-size: 14;
}

li
{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}


.container
{
    max-width: 1080px;
    min-width: 500px;
    height: auto;
    margin: auto;
    background: #fff;
}

.navbar 
{
    text-align: right;
    height: 37px;
    position: relative;
    font-size: 16px;
    background: #2189b0;
    box-shadow: 0px 3px 50px -13px ;
}
.navbar ul
{
    padding: 5px 0px;
    margin: 0px;
}
.navbar li
{
    display: inline;
    padding: 8px;
}
.navbar img
{
    height: 30px;
    object-position: top;
    float: left;
    display: inline;
    padding-left: 10px;
    padding-bottom: 2px;
    
}
.navbar a
{
    font-family: 'Orbitron', sans-serif;
    font-size: 14;
    text-decoration: none;
    padding: 7px 8px 13px 8px;
    color: #fff
}
.navbar a:hover
{
    background-color: #0d9cd2;

}

.jumbotron 
{
    width: inherit;
    height: inherit;
    
}

img
{
    max-height: 100%;
    max-width: 100%;
}

.centerText
{
    padding-bottom: 250px;
    padding-top: 40px;
}

.centerText p
{
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    
}

.centerText p a 
{
    text-decoration: none;
    text-decoration-color: #edc905;
    color: #edc905;
}

#AboutUs
{
    width: 45%;
    padding-left: 45px;
    display: inline-block;
}

#AboutUs p
{
    
    padding-bottom: 15px;
}


#OurVision
{
    padding-left: 20px;
    width: 45%;
    display: inline-block;
}

#OurVision img
{
    height: 50%;
    width: 100%
}


#USSDSearch
{
    padding: 0px;
    position: relative;
    margin-top: 250px;
}


.col1 p
{
    position: absolute;
    top: 100px; 
    color: #fff;
    left: 0; 
    width: 50%;
    padding: 50px;  
    padding-left: 70px;
}

.col1 h2
{
    position: absolute;
    top: 30px; 
    color: #fff;
    left: 0; 
    width: 50%;
    padding: 50px;  
    padding-left: 70px;
}

#ContactUs
{
    padding: 45px;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 200px;
}

#ContactUs h2
{
    font-size: 70px;
}

#ContactUs p
{
    margin: 0px;
    font-size: 20px
}

#ContactUs a
{
    text-decoration: none;
    color: #2980b9;

}

.footer
{
    background-color: #bdc3c7;
    height: 200px;
}

.footer p 
{
    font-size: 13px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #7f8c8d;
    padding: 40px;
}


